* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dis-primary-color: #ff6900;
    --dis-primary-light: #fff9f6;
    --dis-primary-dark: #1a1a1a;
    --dis-sostenibity: #008000;
    --dis-percentage: #ff0000;
}

d-flex{
    display: flex;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background-color: var(--dis-primary-color);

}


