* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dis-primary-color: #ff6900;
    --dis-primary-light: #fff9f6;
    --dis-primary-dark: #1a1a1a;
    --dis-sostenibity: #008000;
    --dis-percentage: #ff0000;
}

.container {
    max-width: 100%;
    margin: auto;
}

d-flex {
    display: flex;
}

header {
    position: fixed;
    width: 100%;


    .container {
        display: flex;
        justify-content: space-around;
        background-color: var(--dis-primary-color);
        padding: 1rem;

    }

    a {
        text-decoration: none;
        color: #FFFFFF;
        padding: 0.5rem;

    }

    i {
        color: var(--dis-primary-light);
        padding: 0.25rem;
    }

    .img {
        margin: 2rem;
    }
}


main {
img{
    width: 30%;
    margin: auto;
    padding: 1rem;
}
    i{
        position: absolute
        top 50%;
        left: 50%;

    }

}