* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dis-primary-color: #ff6900;
    --dis-primary-dark: #fff9f6;
    --dis-button-B: #1a1a1a;
    --dis-button-C: #008000;
    --dis-light: #ff0000;
}

d-flex {
    display: flex;
}


.container {
    width: 80%;
    margin: auto;
}